

.main-in {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;
}

.main-in .container {
    flex: 1;
}

.main-in aside.nav-bar {

}

.main-in aside.nav-bar.render-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}