

.error-fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}

.error-fullpage * { user-select: none }

.error-fullpage img {
    width: 120px;
    max-width: calc(100vw - 30px);
}

.error-fullpage .error {
    font-size: calc(1.5vmax + 15px);
    text-transform: capitalize;
    color: var(--base-red);
    margin: .5rem 0;
    margin-top: 3rem;
    animation-name: keyframes1;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
    animation-duration: 1s;
}

@keyframes keyframes1 {
    0% {
        opacity: 0;
        transform: scaleX(.8);
    }
    50% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.error-fullpage small {
    color: var(--base-white);
    font-size: calc(1.3vmin + 8px);
}