

.app-aside {
    height: 100vh;
    position: relative;
    z-index: 100;
    transition: all ease-in-out 300ms;
    display: flex;
    flex-flow: row nowrap;
}

.app-aside.float {
    position: fixed;
    left: 0;
    top: 0;
}

.app-aside.hide {
    width: 0px;
    overflow-x: hidden;
    transform: translateX(-100%);
}

.app-aside .auth-box {
    position: absolute;
    bottom: .5rem;
    left: 0px;
    width: calc(100% - 1rem);
    padding: .3rem .5rem;
    box-sizing: border-box;

    margin: .5rem;
    padding: .3rem .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.app-aside .auth-box .auth-img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
}

.app-aside .nav-aside {
    width: 70px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    padding-top: 1rem;
    padding-bottom: calc(70px + 1rem);
}

.nav-aside .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.nav-aside .header img {
    width: 30px;
    height: 30px;
}

.nav-aside .nav-links,
.nav-aside .nav-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-aside .nav-links span,
.nav-aside .nav-sub span {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.nav-aside .nav-links span {
    margin: 1rem 0;
}

.nav-aside .nav-links span:hover svg,
.nav-aside .nav-sub span:hover svg {
    fill: var(--base-color)
}

aside.chat-list {
    flex: 1;
    background: var(--base-contrast-fall);
    box-shadow: 3px 0 5px #ffffff07;
    color: var(--base-white);

    padding-bottom: 70px;
}

aside.chat-list .aside-top {
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

aside.chat-list .aside-top .search-pane {
    position: relative;
    height: 30px;
    flex: 1;
}

aside.chat-list .aside-top > span {
    width: 30px;
    height: 30px;
    margin: auto 7px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

aside.chat-list .aside-top > span svg {
    width: 23px;
    fill: var(--base-white);
    transition: all ease-in-out .3s;
}

aside.chat-list .aside-top > span:hover {
    background-color: var(--base-contrast-fade);
}

aside.chat-list .aside-top > span:hover svg {
    fill: white;
}

aside.chat-list .aside-top .search-pane input {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    border-radius: 2pt;
    border: none;
    background-color: var(--base-contrast-fade);
    outline: none;
    color: white;
    font-size: 15px;
}

aside.chat-list .aside-top .search-pane span {
    height: 100%;
    width: 30px;
    position: absolute;
    display: grid;
    place-items: center;
    left: 0;
}

aside.chat-list .aside-top .search-pane span svg {
    width: 20px;
    fill: var(--base-white)
}

aside.chat-list .aside-top .search-pane input:focus ~ span svg {
    fill: white;
}

aside.chat-list .aside-top .search-pane span.close-search {
    top: 0;
}

aside.chat-list .aside-top .search-pane span.close-search div {
    background-color: var(--base-color);
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside.chat-list .aside-top .search-pane span.close-search svg {
    width: 100%;
    fill: white;
}

aside.chat-list ul {
    list-style-type: none;
    padding: 0;
}

aside.chat-list ul li {
    margin: .5rem;
    padding: .3rem .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

aside.chat-list ul li:hover {
    background: var(--base-dark-contrast-fade);
}

aside.chat-list ul li.day:hover {
    background: var(--base-light-contrast-fade);
}

aside.chat-list ul li.active,
aside.chat-list ul li.active:hover {
    background-color: var(--base-color);
}

aside.chat-list ul li div.chat-image {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
}

aside.chat-list ul li div.chat-image .online-trk {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: var(--base-red);
}

aside.chat-list ul li div.chat-image.online .online-trk {
    background: green;
}

aside.chat-list ul li div.chat-person {
    flex: 1 1;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

aside.chat-list ul li div.chat-person .chat-person--name {
    font-size: 1rem;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
}

aside.chat-list ul li div.chat-person .chat-person--typing {
    margin-left: 1rem;
    color: var(--base-orange);
}

aside.chat-list .alert.visibility-hidden {
    display: none;
}

aside.chat-list .alert {
    padding: .3rem .5rem;
    margin: .5rem;
}

aside.chat-list .alert.alert-info {
    background-color: teal;
    color: white;
}

aside.chat-list .aside-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -4px 5px #ffffff07;
}