@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@400;500&display=swap');

@font-face {
  font-family: opens;
  src: url(res/opens.ttf);
}

@font-face {
  font-family: basier;
  src: url(res/basiercircle.otf);
}

* {
  font-family: 'Quicksan', 'Josefin Sans', 'opens', basier;
}


body .app-body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  margin: 0;
}

body .app-body.day {
  background-color: #ffffff;
  color: var(--text-dark);
}

body .app-body.night {
  background-color: var(--base-dark);
  color: var(--text-white);
}